@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
:root {
    --white-color: #fff;
    --main-btn-color: #ff1515;
    --black-color: #000;
    --text-color: #666;
}
html {
    font-size: 100%; /* fz100p = 16px */
    font-size: 62.5%; /* fz62.5 = 10px = 1rem*/
    scroll-behavior: smooth;
}
body {
    font: 1.6rem/1.5 Pretendard, sans-serif;
    color: var(--black-color);
    text-transform: capitalize;
    word-break: keep-all; /* wbka  */
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
hr,
.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.inner {
    /* w134.4r+m0-a+bg */
    width: 172rem;
    /* width: 89.58333333333333%; */
    margin: 0 auto;
    /* background: rgba(255, 255, 0, 0.3); */
}
#header {
    width: 100%;
    height: 10rem;
    position: absolute;
    top: 0;
    left: 0;
}

#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.logo a {
    display: block;
    width: 16rem;
    height: 8rem;
}
.gnb {
    display: flex;
}
.gnb a {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    height: 5rem;
    padding: 1rem 4rem;
}
.util-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;
}
.util-menu a {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    background: no-repeat 0 0 / cover;
}
.util-menu .search {
    background-image: url(../images/search-line.svg);
}
.util-menu .login {
    background-image: url(../images/login-icon.svg);
}
.util-menu .btn-menu {
    background-image: url(../images/ico-menu.svg);
    display: none;
}
#footer {
    background: #000;
    width: 100%;
}
.footer-con {
    padding: 7rem 0 8rem;
    width: 100%;
    /* background: #000; */
    margin: 0 auto;
    text-align: center;
}
.footer-logo {
    width: 19rem;
    height: 17rem;
    margin: 0 auto;
}
.footer-title {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}
.footer-title li a {
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff;
}
.footer-txt {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.copyright {
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    color: #fff;
}
.sub-title {
    font-size: 3rem;
    font-weight: 700;
}
.star {
    color: var(--main-btn-color);
}
input::placeholder {
    font-family: Pretendard;
    color: #000;
}

input::-webkit-input-placeholder {
    font-family: Pretendard;
    color: #000;
}

input:-ms-input-placeholder {
    font-family: Pretendard;
    color: #000;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    border: 2px solid #000;
    /* border-radius: 4px; */
    cursor: pointer;
}
input[type="checkbox"]:checked + label::before {
    background: var(--main-btn-color) url(../images/check-icon.png) no-repeat 50%;
    border: 2px solid var(--main-btn-color);
}
label {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
@media screen and (max-width: 1720px) {
    .inner {
        width: 90%;
    }
}
@media screen and (max-width: 1024px) {
    .inner {
        width: 96.4rem;
        width: 94.1406%;
    }
    .gnb {
        display: none;
    }
    .logo a {
        display: block;
        width: 16rem;
        height: 8rem;
    }
    .util-menu {
        gap: 2rem;
    }
    .util-menu .btn-menu {
        display: block;
    }

    .footer-logo {
        width: 12rem;
        height: 10rem;
    }
}
@media screen and (max-width: 600px) {
    .inner {
        width: 39rem;
        width: 90.6977%;
    }
    .footer-title {
        flex-direction: column;
    }
    .footer-txt {
        display: none;
    }
    .copyright {
        display: none;
    }
}
